@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .col {
    @apply flex space-x-3 text-sm text-white  items-center;
  }

  .card {
    @apply rounded-2xl p-4 min-h-[520px] w-[300px] flex items-start justify-center space-y-0 shadow-xl ;
  }

  .headname {
    @apply font-poppins text-lg text-center text-white;
  }

  .inp {
    @apply text-sm h-[40px] rounded-full pl-5 bg-[#ebfffc] text-[#62262] outline-none;
  }

  .calcbut{
    @apply bg-gray-200 p-3 rounded-xl w-[calc(100%/4)]
  }
  .calcrow{
    @apply flex justify-between items-center w-full space-x-1
  }
}

